
    :root{
      --white-color: #FFFF;
      --blue-color: #615DEC;
      --grey-color: #8D8D98;
      --grey-color-light: #aaa;
      --gray-color: #F7F7F8;
    }
    .content{
        background-color: var(--gray-color);
    }

    .content .info{
      margin-left: 100px;
  }

    #alumnosTable {
      border: 1px solid black;
    }

    #alumnosTable th,
    #alumnosTable td {
      border: 1px solid black;
      padding: 8px;
    }
