
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif light;
}

:root{
  --white-color: #FFFF;
  --blue-color: #615DEC;
  --grey-color: #8D8D98;
  --grey-color-light: #aaa;
  --gray-color: #F7F7F8;
  --purple-color: #BBBAF0;
  --purple-light-color: #D6D6F6;
  --pink-color: #F380F5;
}

#header{
  display: flex;       /* Establece el header como un contenedor flex */
  justify-content: space-between;
  align-items: center;
}

h2{
  color: var(--blue-color);
}

.letra-cobach{
  font-size: xx-large;
  padding: 5px;
  background: linear-gradient(to right, #615DEC, black);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  flex-grow: 1; /* Esto permitirá que el texto ocupe el espacio restante, centrando el texto */
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
  
}

.content{ 
  background-color: var(--gray-color);
  width: 100%; /* El contenido llenará todo el espacio restante */
}


.info {
  padding: 6rem 0rem 0rem 7rem;  
  color: rgb(255, 255, 255);
  background-color: var(--purple-color);
}

#form-env {
  display: block;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;   
  color: black;
}

#form-envE{
  display: block;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 32px;
  color: black;
  }

  .contenedor-campos {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centrar los campos y el grupo de botones verticalmente */
  }
  
  .campos {
    display: flex;
    flex-wrap: wrap; /* Permitir que los campos se envuelvan a una nueva línea si no hay suficiente espacio horizontal */
    justify-content: space-between; /* Distribuir los campos uniformemente en el contenedor */
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: var(--purple-light-color);
    border-radius: 2rem;
    padding: 1rem;
  }
  
  .campos > div {
    flex-basis: 48%; /* Establecer el ancho de cada sección de campos */
  }
  
  .campos label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .campos input,
  .campos select {
    width: 100%; /* Establecer el ancho de los campos al 100% para que ocupen todo el espacio disponible */
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 10rem;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem; 
  }
  
  .button-group button,
  .button-group a.button {
    margin-right: 1rem; /* Reducir el espacio entre los botones */
  }
  
  .button {
    padding: 0.5rem 1rem;
    font-size: 1em;
    color: #fff;
    background-color: var(--blue-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: var(--pink-color);
    color: rgb(0, 0, 0);
  }
  
  .contenedor {
    display: flex;
  }
  

.sidebar.close {
padding: 60px 0;
width: 80px; /* el menú  ocupará menos espacio cuando esté contraído */
}





/* Añade espacio dentro de cada elemento .nav_link */
.nav_link {
padding: 10px 0;
}

.tabla-title{
font-size: x-large;
}


.slider{
width: 100%;
height: 500px;
overflow: hidden;
}
.slider ul{
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  max-height: 100%;
}


@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
  height: 100vh;
}
}

/* Añade espacio dentro de las celdas de la tabla */
#avisosTable th, #eventosTable th, 
#avisosTable td, #eventosTable td{
  border: 1px solid black;
  padding: 16px; /* Cambia este valor para modificar el espacio dentro de las celdas */
  background-color: var(--blue-color);
  color: white;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .info {
    padding: 4rem 0rem 0rem 4rem;
  }
  
  .campos {
    margin-right: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding: 3rem 0rem 0rem 3rem;
  }
  
  .campos {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 480px) {
  .info {
    padding: 2rem 0rem 0rem 2rem;
  }
  
  .campos {
    margin-right: 5rem;
  }
}