:root{
  --white-color: #FFFF;
  --blue-color: #615DEC;
  --grey-color: #8D8D98;
  --grey-color-light: #aaa;
  --gray-color: #F7F7F8;
}
.content{
    background-color: var(--gray-color);
}

.content .info{
  margin-left: 100px;
}

#header{
    display: flex;       /* Establece el header como un contenedor flex */
    justify-content: space-between;
    align-items: center;
  }

  .letra-cobach{
    font-size: xx-large;
    padding: 50px;
    background-color: #615DEC;
    background: linear-gradient(to right, #615DEC, black);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    flex-grow: 1; /* Esto permitirá que el texto ocupe el espacio restante, centrando el texto */
  }

#nominaTable, #pagoATable {
  border: 1px solid black;
}

#nominaTable th,
#nominaTable td, #pagoATable th, #pagoATable td {
  border: 1px solid black;
  padding: 8px;
}